@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* tags */
html,
body,
html * {
  font-family: "Roboto", sans-serif;
}

head,
body {
  background: radial-gradient(
    closest-side at 50% 50%,
    rgba(255, 255, 255),
    rgba(150, 150, 150, 0.15)
  );
  /* width: 85%; */
}

body.dark-mode {
  background: #363636;
}
body.dark-mode #pomoList {
  background: #464646;
}
body.dark-mode .task-list {
  background: #464646;
}

/*
body.dark-mode #tasks>*::part(.object){
  background: red;
}
*/

h2 {
  margin-top: 50px;
  font-size: 25px;
}
button {
  background-color: #e97878;
  /* width: 10%; */
  border: none;
  outline: none;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 10; */
  border-radius: 10px;
  font-size: 20px;
  padding: 15px 10px;
  margin: 4% 9%;
}



label {
  margin: 0 10px;
}
/* ------------------------------------------- */
/* classes */
.settingAndLogo {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: auto;
}

.settings-help {
  display: flex;
  align-items: center;
}

.setting {
  text-align: right;
  margin: 50px 10px 10px;
}

.settings-tool {
  padding: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding: 5px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f5f5f5;
  min-width: 10%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 30%;
  margin: 1%;
  right: 0;
  justify-content: space-evenly;
  border-radius: 10%;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/* .show {
  display: block;
} */

.dropdown-item {
  display: flex;
  padding: 3%;
  align-items: center;
}

.logo {
  margin: 10px;
}

.sessions {
  /* text-align: center; */
  /* position: static; */
  text-align: center;
  position: static;
  display: flex;
  flex-flow: row wrap;
  padding-left: 8%;
  padding-right: 8%;
  padding-top: -10px;
}
.controller {
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  padding-left: 30%;
  padding-right: 30%;
  padding-bottom: 5%;
}
.header {
  text-align: center;
  height: 600px;
  border-radius: 10px;
  margin: auto;
  background-color: #ffffff;
}
.addBtn {
  align-content: center;
  margin: 1% 0 0 0;
}

.clearBtn {
  align-content: center;
  margin: 1% 0 0 0;
}

.addTaskBtn {
  align-content: center;
  margin: 2px;
  min-width: 80px;
}
.form-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.circleTimer {
  width: 30%;
  margin-left: 35%;
  z-index: -1;
  align-content: center;
  text-align: center;
}

/* Circle background*/
.circleTimerFill {
  fill: none;
  stroke: #b6b6b6;
  stroke-width: 4px;
}
.shadow {
  filter: drop-shadow(10px 0 5px red);
}

/* the place where messed with toggle button */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(27px);
  -ms-transform: translateX(27px);
  transform: translateX(27px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.settingLengthInput {
  border-radius: 5px;
  border-width: 0.1px;
  border-style: hidden;
  height: 25px;
  width: 60px;
  text-align: center;
}

/* ------------------------------------------- */
/* IDs */
#tutorialBtn {
  background: none;
  border: none;
  outline: none;
  padding: 0 10px;
  margin: 50px 10px 10px;
}

/* #tutorialBtn svg {
  fill: #555;
} */

#tutorialBtn svg:hover {
  fill: #333;
  cursor: pointer;
}

#addTaskInput {
  width: 300px;
  height: 30px;
  border-radius: 5px;
  border-style: groove;
  border-color: #e97979;
}

#currentSessionAuto {
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
  padding: 15px;
}

#StartButton {
  flex: 1 1 auto;
  flex-grow: 1;
  flex-basis: auto;
  align-self: center;
  padding: 15px 10px;
  margin: auto;
  width: 5%;
  height: 20%;
}

#StopButton {
  /* flex: 1 1 auto; */
  flex-grow: 1;
  flex-basis: auto;
  align-self: center;
  padding: 15px 10px;
  margin: auto;
  width: 5%;
  height: 20%;
  display: none;
}

#workTime {
  width: 5%;
  height: 20%;
  flex-grow: 1;
  flex-basis: auto;
  align-self: center;
  position: relative;
}


#longBreak {
  /* flex: 1 1 auto; */
  width: 5%;
  height: 20%;
  flex-grow: 1;
  flex-basis: auto;
  align-self: center;
}
#shortBreak {
  width: 5%;
  height: 20%;
  flex-grow: 1;
  flex-basis: auto;
  align-self: center;
}

#timer {
  font-size: 50px;
  padding: 10%;
  margin-right: 0;
}

body.dark-mode text {
  fill: #c3c3c3;
  color: #c3c3c3;
}

/* Circle Timer components style */

/* Circle Timer Circle Progress Bar Style */
#circleProgress {
  fill: none;
  stroke-width: 4px;
  transform-origin: top;
  transition: stroke-dashoffset 0.7s;
}

/* Dot on circle progress bar */
#pointerProgress {
  fill: #fff;
  stroke-width: 2px;
}

#pointerDot {
  transition: transform 0.7s;
}

#tasks {
  padding: 10px;
  text-align: center;
  overflow-y: scroll;
  height: 80%;
  margin: 20px 20px 5px 20px;
}
#taskIndicator {
  padding: 10px;
}

.task-list {
  width: 80%;
  margin: auto;
  background: #ffffff;
  margin-bottom: 200px;
  border-radius: 10px;
}

.taskTabs {
  overflow: hidden;
  text-align: center;
  background-color: #bbb;
  display: flex;
  border-radius: 5px 5px 0 0;
}

.taskTabs button {
  background-color: inherit;
  float: left;
  outline: none;
  cursor: pointer;
  text-align: center;
  padding: 14px 16px;
  flex: 1;
  /* transition: 0.3s; */
  margin: auto;
  border-radius: unset;
  font-size: initial;
}

/* .taskTabs button:hover {
  background-color: #e9888888;
}

.taskTabs button.activeList {
  background-color: #e97878;
} */

.modal {
  padding-top: 10px;
  width: 60%;
  height: 35%;
  display: none;
  margin-left: 10%;
  margin-right: 15%;
  position: absolute;
  z-index: 1;
  overflow: auto;
  background-color: #ffffff;
  border: 1px solid #888;
  border-radius: 10px;
  /* margin-top: -70%; */
}

.modal button {
  margin: auto;
}
.modal-content {
  background-color: #ffffff;
  color: #6f6f6f;
  width: 90%;
  display: inherit;
  /* flex: 1; */
  margin: auto;
  /* overflow-y: initial; */
}

.modal-content div {
  margin-bottom: 15px;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal-content #addTaskInput {
  font-size: 15px;
  height: fit-content;
  padding: 10px;
  width: 60%;
}

.modal-content form {
  font-size: 18px;
  height: fit-content;
  padding: 10px;
  width: 40%;
  text-align: left;
}

.modal-content #sessionNumber {
  font-size: 20px;
  text-align: center;
}

.logo {
  width: 100px;
  height: 90px;
  max-width: 100px;
  max-height: 90px;
}
.logo svg {
  width: 150px;
  height: 90px;
  max-width: 150px;
  max-height: 90px;
}

/* CSS FOR SHORT BREAK */
body.shortBreak button {
  background-color: #5883ce;
}
body.shortBreak button:hover {
  background-color: #396dc6;
}
body.shortBreak #shortBreak {
  background-color: #c96567;
}
body.shortBreak #addTaskInput {
  border-color: #5883ce;
}
body.shortBreak #circleProgress,
body.shortBreak #pointerProgress {
  stroke: #5883ce;
}

/* CSS FOR LONG BREAK */
body.longBreak button {
  background-color: #2947b5;
}
body.longBreak button:hover {
  background-color: #213991;
}

body.longBreak #longBreak {
  background-color: #c96567;
}
body.longBreak #addTaskInput {
  border-color: #2947b5;
}
body.longBreak #circleProgress,
body.longBreak #pointerProgress {
  stroke: #2947b5;
}

/* CSS FOR WORK TIME */
body.workTime button {
  background-color: #e97878;
}
body.workTime button:hover {
  background-color: #e25050;
}
body.workTime #workTime {
  background-color: #c96567;
}
body.workTime #addTaskInput {
  border-color: #e97878;
}
body.workTime #circleProgress,
body.workTime #pointerProgress {
  stroke: #e97979;
}
/* TASK LIST STUFFs */

body .taskTabs button {
  background-color: #bbb;
}

body.shortBreak .taskTabs button.activeList {
  background-color: #5883ce;
}
body.longBreak .taskTabs button.activeList {
  background-color: #2947b5;
}
body.workTime .taskTabs button.activeList {
  background-color: #e97878;
}
