@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
html, body, html * {
    font-family: 'Roboto', sans-serif;
}

head, body {
    background: #f2f2f2;
    width: 85%;
}

h2 {
    font-size: 40px;
}

button {
    background-color:#e97878;
    border:none;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10;
    border-radius: 5%;
    font: 22px/30px;
    font-size: 40px;
    font-weight: bold;
   
}

button:hover {
    background-color: #9e5a63;
}

button.active{
    background-color: #c96567;
}
.setting {
    text-align: right;
}
controller {
    text-align: center;
    
    display: flex;
    flex-flow: row wrap;
    padding-left: 30%;
    padding-right: 30%; 
    padding-bottom: 5%;
} 

.sessions {
    text-align: center;
    /* align-items: center; */
    display: flex;
    flex-flow: row wrap; 
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 5%;
}
.header {
    width: 60%;
}

#StartButton {
    flex: 1 1 auto;
    flex-grow: 1;
    flex-basis: auto;
    align-self: center;
    background-color: #FF4444;
    padding: 10px 15px;
}

#StopButton {
    /* flex: 1 1 auto; */
    flex-grow: 1;
    flex-basis: auto;
    align-self: center;
    background-color: #FF4444;
    padding: 10px 15px;
}

#workTime {
    /* flex: 1 1 auto; */
    flex-grow: 1;
    flex-basis: auto;
    align-self: center;
}
#longBreak {
    /* flex: 1 1 auto; */
    flex-grow: 1;
    flex-basis: auto;
    align-self: center;
}
#shortBreak {
    /* flex: 1 1 auto; */
    flex-grow: 1;
    flex-basis: auto;
    align-self: center;
}
#setting {
    margin-left: auto; 
    margin-right: 0;
}
#timer {
    font: 100px;
}


